<!-- all links  http://localhost:8010/urls-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %>
</head>
<body>
    <h4>URL Index</h4>
     <% for (var url in urls) { %> 
        <div style="padding-bottom: 15px">
            <%= url %> --> <a href='<%= urls[url] %>'> <%= urls[url] %></a> 
            <form style="display: inline-block;" action="/urls/<%= url %>" method="GET">
                <!-- 'method' handles an editing action (GET) -->
                <input type="submit" value="Edit">
            </form>
            <form style="display: inline-block;" action="/urls/<%= url %>/delete" method="POST">
                <!-- 'method' causes a deletion action (POST) -->
                <input type="submit" value="Delete">
            </form>
        </div>
    <% } %>
    <h4>Add URL To Index</h4>
    <div>
        <form action="/urls" method="POST">
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Shorten URL">
        </form>
    </div>
</body>
</html>