<!-- individual links http://localhost:8010/urls/9sm5xK -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %> 
    <!-- adds the header from ../partials/_header -->
</head>
<body>
    <h4>Edit Shortened URL:</h4>
    <div style="font-size: 40">
       <a href="<%= longURL %>"><%= longURL %></a> --> <%= shortURL %> 
    </div>
    <br>
    <div style="display: inline-block"> 
        <form style="display: inline-block;" action="/urls/<%= shortURL %>/update" method="POST">
    <!-- Style makes sure the form is on the same line; Action refers back to the express_server.js app.get method -->
            <input id="updateURL" type="text" name="updateURL" placeholder="<%= longURL %>" style="width: 300px">
    <!-- name is connected to the express_server.js document; placeholder is what is held in the blank field -->
            <input type="submit" value="Update">
    <!-- 'type' makes sure that "Update" is a button, while 'value' displays what is in that field -->
        </form>
    </div>
    <h4>Add URL To Index</h4>
    <div>
        <form action="/urls" method="POST">
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Shorten URL">
        </form>
    </div>
</body>
</html>
