<!-- all links  http://localhost:8010/urls-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %>
</head>
<body>
    <h4>URL Index</h4>
    <% if (userID) { %>
        <% for (var url in shortURLs) { %> 
            <div style="padding-bottom: 15px">
                <a href="/u/<%= shortURLs[url] %>">localhost:8080/u/<%= shortURLs[url] %></a> --> <%= longURLs[url] %>
                <form style="display: inline-block; margin-left: 10px" action="/urls/<%= shortURLs[url] %>" method="GET">
                    <input type="submit" value="Edit">
                </form>
                <form style="display: inline-block; border-radius: 10px;" action="/urls/<%= shortURLs[url] %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </div>
        <% } %>
        <div>
            <form action="/urls/new" method="GET">
                <input style="border-radius: 10px; width: 80px; background-color: rgb(170, 170, 240); 
                font-weight: bold" type="submit" value="Add a URL">
            </form>
        </div>
    <% } else{ %>
        <p> Please log in to view your shortened URLs index, or create an account.</p>
    <% } %>
</body>
</html>